/*
 * lesswrong.ru styles
 */

@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic");

body {
  font-family: 'pt sans','PT Sans',arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9;
}

html,
button,
input,
select,
textarea {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/*
 * General styles
 */
a {
  color: hsl(200, 90%, 30%);
}
a:hover {
  color: hsl(200, 90%, 45%);
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
}

img,embed,object,video {
  max-width: 100%;
}

h1 {
  font-size: 1.8em;
  line-height: 1;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}
p {
  font-family: georgia;
}

/*
 * Major regions
 */
#page {
}

#header {
  margin-bottom: 25px;
}

#footer {
  margin-top: 25px;
}

#main-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#sidebar {
  flex: 0;
  border: 1px solid hsl(0, 0%, 87%);
  border-left: none;
  padding: 0 20px;
  padding-top: 20px;
  background-color: #f8f8f8;
  width: 290px;
}

@media (max-width: 780px) {
  #sidebar {
    display: none;
  }
}

main {
  margin-left: 40px;
  max-width: 680px;
  padding: 0 40px;
  flex: 1;
}

@media (max-width: 1120px) {
  main {
    padding: 0 10px;
    margin: 0 auto;
  }
}

/*
 * Header styling
 */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: hsl(90, 0%, 30%);
}

#logo {
  width: 340px;
  color: hsl(90, 50%, 55%);
  padding-left: 15px;
  font-weight: bold;
}

/*
 * Main menu
 */

#header .contextual-links-region {
  display: none; /* analytics blocks are located in menu for some reason... */
}

#header li {
  padding: 8px 15px;
  display: block;
}

#header a {
  font-size: 1.2em;
  color: hsl(90, 50%, 95%);
  text-decoration: none;
}

#header a:hover {
  border-bottom: 2px solid hsl(90, 0%, 95%);
}

#header ul, #header nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header ul {
  margin: 0;
}

#primary-menu-nav {
  flex: 1;
}

#secondary-menu-nav {
  flex: 0;
}

#secondary-menu-nav ul {
  flex-wrap: nowrap;
}

#secondary-menu-nav li {
  padding: 0 10px;
}

/*
 * Common drupal styles
 */
#page-title {
  font-weight: bold;
}

.block {
  margin-bottom: 20px;
}

.tabs {
  font-size: 0.8em;
}

.tabs.primary .active a {
  background-color: white;
  border-bottom-color: white;
}

.node-links-nav {
  margin-top: 5px;
  font-size: 0.8em;
}

ul.inline li {
  padding: 0;
  padding-right: 10px;
}

ul li.leaf {
  list-style-image: none;
  list-style-type: disc;
}

ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
  position: relative;
}
ul li.collapsed:before {
  content: "\2023 \0020";
  font-size: 1.4em;
  line-height: 0;
  position: absolute;
  top: 0.55em;
  left: -0.75em;
}

ul.menu {
    padding: 0;
}
ul.menu li {
  margin: 0;
}

ul.menu ul {
    padding-left: 15px;
}

ul.menu li > a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: black;
}
ul.menu li > a.active {
    text-decoration: none;
    font-weight: bold;
}

ul.menu li.expanded > a {
    text-decoration: none;
}
ul.menu li.expanded > a:hover {
    text-decoration: underline;
}

/*
 * Main styling
 */
main {
  font-size: 16px;
}
main p {
  margin: 1em 0 0 0;
  line-height: 1.4;
}
main ul {
  font-family: georgia;
}
main .field-name-body li {
  line-height: 1.4;
}
main p:first-child {
  margin-top: 0.2em;
}
main p:last-child {
    margin-bottom: 1em;
}

#page-title {
    margin: 0;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 0.85em;
  color: #999;
}
.breadcrumb a {
  color: black;
}

/* Primary tabs */
.tabs.primary {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  margin-bottom: 16px;
}
.tabs.primary li a {
  border: none;
  margin: 0;
  margin-right: 4px;
  padding: 1px;
  background-color: inherit;
  color: #999;
  font-family: 'pt sans','PT Sans',arial,sans-serif;
}
.tabs.primary li.active a {
  border: none;
  margin: 0;
  margin-right: 4px;
  padding: 1px;
  color: black;
}

/*
 * Translations and pages
 */

.field-name-field-author {
  max-width: 100%;
  text-align: right;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 20px;
}

div.field-name-field-translators
{
  max-width: 100%;
  float: right;
}

div.vkwidget {
  overflow: hidden;
}

ul li.statistics_counter {
  display: none;
}

span.translations-red {
  color: #ff3300;
}

span.translations-darkred {
  color: #cc0033;
}

span.translations-brown {
  color: #663300;
}

span.translations-purple {
  color: #9900ff;
}

span.translations-grey {
  color: #666633;
}

span.translations-green {
  color: #00cc00;
}

span.translations-blue {
  color: #0000cc;
}

span.translations-violet {
  color: #6633cc;
}

/*
 * Translations TOC
 */
#block-lwcustom-lw-translations-toc ul {
  padding-left: 0;
  margin: 0;
}
#block-lwcustom-lw-translations-toc li {
  list-style: none;
}

#block-lwcustom-lw-translations-toc li.expanded {
  margin-top: 25px;
  margin-bottom: 15px;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-1 > a {
  font-size: 1.7em;
  line-height: 1.4;
  color: black;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-2 > a {
  font-size: 1.3em;
  line-height: 1.4;
  color: black;
}


.view-all-sequences a{
 color:black;
}

.book-node-type-sequence a {
   color: grey;
}

.depth-2{
   margin-top:6pt;
   margin-left:5%;
   font-size:150%;
}

.depth-3{
   margin-top:6pt;
   margin-left:10%;
   font-size:130%;
}

.depth-4{
   margin-left:15%;
}

.depth-5{
   margin-left:20%;
}

.type-translation{
   font-size:100%;
}


/*
 * sidebar
 */
.block-aggregator > h2 {
  font-size: 1.2em;
  font-weight: normal;
}

.block-aggregator a {
  font-size: 0.8em;
}

/*
 * User menu block
 */
#block-system-user-menu > h2 {
  display: none;
}

#block-system-user-menu ul.menu > li {
  text-align: right;
  list-style: none;
}

/*
 * Search sidebar block
 */
#search-block-form .container-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-block-form .container-inline > .form-item {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  flex: 1;
}

#search-block-form .container-inline > .form-item > input {
  width: 100%;
}
