/*
 * lesswrong.ru styles
 */

@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic");

body {
  font-family: 'pt sans','PT Sans',arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9;
}

html,
button,
input,
select,
textarea {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/*
 * General styles
 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

/*
 * Major regions
 */
#page {
  margin: 0 auto;
  max-width: 980px;
}

#header > .section {
  display: flex;
  flex-direction: row;
}

#main {
  display: flex;
  flex-direction: row;
}

#login-register{
  position: absolute;
  top: 0.1em;
  right: 0.75em;
}

#sidebar-first {
  order: 1;
}
#content {
  margin-left: 50px;
  order: 2;
}

#name-and-slogan {
  text-align: center;
}
#site-name {
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 20px;
}
#site-name a {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-weight: normal;
}
#site-name a:hover {
  text-decoration: underline;
}
#site-slogan {
  font-size: 20px;
  color: #999;
}

/*
 * Common drupal styles
 */
.block {
  margin-bottom: 20px;
}

.tabs {
  font-size: 0.8em;
}

.tabs.primary .active a {
  background-color: white;
  border-bottom-color: white;
}

#breadcrumb {
  visibility: hidden;
}


/*
 * Translations and pages
 */

/* TODO - apply this to all paragraphs? */
div.field-name-body p {
  margin: 0.3em 0.2em 0.8em 0px;
}

div.field-name-field-author {
  max-width: 100%;
  text-align: right;
}

div.field-name-field-translators
{
  max-width: 100%;
  float: right;
}


div.view-content {
  font-size: 0.8em;
}

div.vkwidget {
  overflow: hidden;
}

/*
 * Translations TOC
 */
#block-lwcustom-lw-translations-toc li.expanded {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-1 > a {
  font-size: 1.6em;
  color: #555;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-2 > a {
  font-size: 1.3em;
  color: #555;
}
