/*
 * lesswrong.ru styles
 */

#page {
  margin: 0 auto;
  max-width: 800px;
}

#header > .section {
  display: flex;
  flex-direction: row;
}

li a {
  text-decoration: none;
}

div#login-register{
  position: absolute;
  top: 0.1em;
  right: 0.75em;
}

div.field-name-body p {
  margin: 0.3em 0.2em 0.8em 0px;
}

div.field-name-field-author {
  max-width: 100%;
  text-align: right;
}

div.field-name-field-translators
{
  max-width: 100%;
  float: right;
}

div.news-body-field  {
  margin-bottom: 1.2em;
}

html,
button,
input,
select,
textarea {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

#breadcrumb {
  visibility: hidden;
}

div.branding-elements {
  margin: 0;
}

div.view-content {
  font-size: 0.8em;
}

div.vkwidget {
  overflow: hidden;
}

#block-lwcustom-lw-translations-toc ul {
  padding-left: 0;
  margin: 0;
}

#block-lwcustom-lw-translations-toc li.expanded {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-1 > a {
  font-size: 1.6em;
  color: #555;
}

#block-lwcustom-lw-translations-toc .expanded.menu-depth-2 > a {
  font-size: 1.3em;
  color: #555;
}
